<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');
  
require_once dirname(__FILE__) . '/tcpdf/tcpdf.php';
  
class Pdf extends TCPDF
{
 function __construct()
 {
 parent::__construct();
 }
}
  
/* End of file Pdf.php */
/* Location: ./application/libraries/Pdf.php */</pr?>
  <title>Bingo Sheet</title>
</head><body style="height: 643px;">
<table style="text-align: left; height: 800px; background-color: white; width: 510px;" border="3" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 500px;"><br>
      <br>
      <br>
      </td>
    </tr>
  </tbody>
</table>
<br>
</body></html>